#text {
  margin-right: 15px;
}

// #warican {
//   opacity: 0;
// }

#box {
  display: flex;
}

#pic {
  width: 200px;
}

#window {
  color: white;
  height: 94%;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
