#skillTrain {
  right: 280px;
  opacity: 0;
  span {
    height: 90%;
  }
}

.button-title {
  height: 100%;
}

#warican {
  right: 140px;
  opacity: 0;
  span {
    height: 90%;
  }
}

#chess {
  right: 70px;
  opacity: 0;
  span {
    height: 90%;
  }
}

#okCupid {
  right: 0px;
  opacity: 0;
  span {
    height: 90%;
  }
}

#Fruity {
  right: 210px;
  opacity: 0;
  span {
    height: 90%;
  }
}
