#skillTrain {
  right: 280px;
  opacity: 0;
}

#warican {
  right: 140px;
  opacity: 0;
}

#chess {
  right: 70px;
  opacity: 0;
}

#okCupid {
  right: 0px;
  opacity: 0;
}

#Fruity {
  right: 210px;
  opacity: 0;
}
