body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#main-buttons {
  display: flex;
}

#title-box {
  color: white;
  font-weight: 700;
  font-size: 1.2cm;
  margin-left: 10px;
  display: contents;
}

#buttons {
  margin-bottom: auto;
}

#name {
  left: 40px;
  position: absolute;
}

#About {
  transition: width 1s, right 1s;
  position: absolute;
  right: 109px;
  left: 211px;
}

#Projects {
  transition: width 1s, right 1s;
  position: absolute;
  right: 69px;
}

#GitHub {
  transition: width 1s, right 1s;
  position: absolute;
  right: -1px;
}

.button-title {
  height: 58%;
}

button {
  overflow: hidden;
  transition: width 5s;
  float: right;
  height: 216px;
  width: 70px;
  text-align: left;
  font-size: x-large;
  background-color: rgba(83, 83, 83, 0.89);
  color: white;
  font-weight: 600;
  span {
    writing-mode: tb-rl;
    font-size: xx-large;
    transform: rotate(180deg);
    margin-left: 10px;
  }
}

#menu {
  width: 420px;
  height: 216px;
  background-color: rgba(226, 226, 226, 0.247);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: skew(-10deg);

  margin: auto;
}
